<ion-header  style="text-align: center;">
  <ion-toolbar color="dark">
    <ion-title>
     Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

 <div *ngFor="let pelicula of favoritoPorGenero">
   <ion-grid *ngIf="pelicula.pelis.length > 0">
     <ion-row>
       <ion-col> <h4><b>{{pelicula.genero}}</b></h4></ion-col>
     </ion-row>
     <app-slide-show-poster [peliculasCartelera]="pelicula.pelis" ></app-slide-show-poster>
   </ion-grid>


     
     
 </div>
</ion-content>
